
@media (min-width: 320px)  {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Acme", sans-serif;
        background-image: url(../imgs/fondo.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    #logo {
        background: url("../imgs/logo.png") center center;
        background-size: cover;
        width: 70px;
        height: 70px;
        background-repeat: no-repeat;
        font-size: 0;
    }

    li {
        list-style: none;
    }
    
    .color {
        color: black;
    }

    .color:hover {
        color: #20e2d2;
        transition-duration: 1s;

    }
    
    .banner img {
        margin: 0px auto;
        display: block;

    }

    .error {
        background-image: url(../imgs/404.png);
        background-repeat: no-repeat;
        height: 100vh;
        background-position: center center;
    }


    .bg-white {
        background-color: #9ad7f6;
    }

    .card {
        padding-top: 20px;
        border: none;


    }

    .contenedor-lista {
        display: flex;
        flex-direction: column;
    }
    .contenedor-lista li{
margin: 0 auto;
    }

    .producto {
        margin-top: 5%;
    }

    .btn {
        background-color: transparent;
        color: black;
        transition: all 500ms ease;
        border: 2px solid #20e2d2;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #20e2d2;
        border-color: #20e2d2;
        color: black;
        transition-duration: 1s;
    }

    .audio audio {
        width: 100%;
    }

    iframe {
        width: 80%;
        margin: 5% auto;
        display: block;
    }

    .container-detalle,
    .quienes-somos {
        background-color: white;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        padding: 2em;

    }

    .seccion-detalle {
        margin-bottom: 5em;
    }

    aside {
        margin-top: 14%;
    }

    aside h3 {
        font-size: 1.5em;

    }

    .tituo-detalle {
        font-size: 3em;
        text-transform: uppercase;
    }

    .precio-detalle {
        font-weight: bold;
        font-size: 2em;
    }

    .form-enviado {
        width: 90%;
        margin: 0 auto;
        background-color: yellow;
    }

    .form-enviado p {
        font-size: 2em;

    }

    .container-home {
        margin-top: 5%;
    }

    .container-home div p {
        font-size: 1.2em;
    }

    h2 {
        font-size: 2.5em;
    }

    .form-fila {
        margin-top: 1%;
    }

    .desahabilitado {
        pointer-events: none;
        opacity: 0.6;
        cursor: default;
    }

    .fondo1 {
        background-color: black;
        color: white;
        text-transform: uppercase;
        font-size: 1em;
        letter-spacing: 1px;
    }

    .fondo1 span {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding-right: 4%;

    }

    #home-extraInfo  {
    flex-direction: column;
        margin: 5% 0;

    }
    
    #home-extraInfo img {
        float: left;
    }
    
    #home-extraInfo li {
        margin: 50px 0 50px 0;
    }

    #home-extraInfo h3 {
        font-size: 1.5em;
    }

    #home-extraInfo p {
        font-size: 1em;
        color: grey;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }

    .fondo-home {
        background-image: url(../imgs/banner.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: 200px;
        padding-top: 3%;
    }

    .fondo-home .carousel {
        margin-top: 45%;

    }

    .container-form {
        margin-top: 10%;
    }
    
    .card-text {
        font-size: 1.5em;
    }

    .eliminar-container {
        margin: 0 auto;
        width: 50%;
    }

    /* .eliminar-container .nav-link:hover {
        color: red
    } */

    .login-container {
        width: 100%;
        margin: 10px auto;
        margin-bottom: 20%;
        border: 2px solid grey;
        padding: 5%;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

        background-image: url("../imgs/tecla-cualquiera.jpg");
        background-repeat: no-repeat;
        background-position:  center;
        background-position-y: 400px;
        background-size: 40%;
    }
    
    .pass {
    text-align: center;
    }
    .button-ingresar {
        margin: 0 auto;
        margin-bottom: 38%;
        text-align: center;
    }

    .msg-success {
        background-color: #00800029;
        margin-top: 3%;
        width: 20%;
        text-align: center;
        margin: 4% auto;
    }

    .eliminar-container {
        background-image: url("../imgs/homero-red.jpg");
        background-repeat: no-repeat;
        background-size: 30%;
        background-position: bottom center;
        border: 2px solid grey;
        padding: 5%;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);


    }

    .button-eliminar {
        margin-top: 10%;
        margin-bottom: 20%;
    }


    a {
        text-decoration: none;
        color: grey;
    }

    #error-titulo {
        color: red;
    }

    #help-titulo {
        color: black;
        background-color: yellow;
        text-align: center;
    }

    .msg-error {
        color: red;
        text-align: center;
    }

    .button-small:hover {
        color: black;
        text-decoration: none;
    }

    .button-danger:hover {
        color: red;
    }

    footer {
        background-color: #B8E3F8;
    }
footer div div {
    flex-direction: column;
    text-align: center;
}
    footer div ul {
        justify-content: center;
    }

    footer ul,
    footer img {
        margin-right: 30px;
    }

    footer div {
        padding: 10px 0 10px 0;
    }


    section {
        min-height: 100vh
    }

}

@media (min-width: 768px) {
    footer div div {
        flex-direction: row;
        text-align: start;
    }
    .fondo-home {
        background-size: 500px;
    }
    .fondo-home .carousel {
        margin-top: 20%;
    }
    #home-extraInfo  {
        flex-direction: row;
    }
    .linea {
        border-left: 2px solid grey;
        height: 100%;
        padding-left: 5%;
        margin-left: 10%;
        position: absolute;

    }
    .contenedor-lista {
        flex-direction: row;
    }

    .login-container {
        width: 30%;
        background-position-y: 450px;
    }
    .pass {
        padding-top: 50px;

        text-align: start;
    }
    .button-ingresar {
        text-align: start;
    }
}
